ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin:0;
}

input {
    margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
    outline: 0;
	font-size:13px;
}

.container-fluid {
    height: 100vh;
    width: 100%;
    position: relative;
}

.container-fluid .fluid-up {
    height: 20%;
    width: 100%;
    background-color: #059688;
}

.container-fluid .fluid-down {
    height: 80%;
    width: 100%;
    background-color: #dadbd4;
}

.container {
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----- SIDEBAR ----- */

.sidebar {
    width: 40%;
    background-color: #fbfafa;
    border-right: 1px solid #6d7679;
}

.sidebar .header-sidebar,
.main .main-header {
    height: 60px;
    background-color: #e9eaea;
}

.sidebar .header-sidebar-right li,
.main .main-header-right li {
    display: inline;
    font-size: 20px;
}

.sidebar .header-sidebar-right li i,
.main .main-header-right li i {
    color: #b1b1b0;
}

.sidebar .notifications {
    height: 70px;
    background-color: #8ddafc;
}

.sidebar .notifications a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f2fbfe;
}

.sidebar .notifications a i {
    font-size: 20px;
    color: #8ddafc;
}

.sidebar .notifications .notifications-text p:first-child {
    font-size: 14px;
    font-weight: bold;
}

.sidebar .notifications .notifications-text p:last-child {
    font-size: 12px;
    text-decoration: underline;
    color: #6d7679;
}

.sidebar .users {
    background-color: #fbfafa;
    overflow-y: auto;
}

.sidebar .users .search-users {
    border: 0.5px solid #ccc;
}

.sidebar .users .search-users a i {
    color:#b1b1b0;
}

.sidebar .users li {
    height: 80px;
}

.sidebar .users img,
.sidebar .header-sidebar-left img,
.main .main-header-left img {
    border-radius: 50%;
    height: 60px;
}

/* ----- /SIDEBAR ----- */

/* ----- MAIN ----- */

.main {
    width: 60%;
    height: 100%;
}

.main-header .main-header-left p:first-child {
    font-size: 14px;
}

.main-header .main-header-left p:last-child {
    font-size: 12px;
    color:#6d7679;
}

.main .main-chat {
    background: url(/img/mine.jpg);
    height: 580px;
    overflow-y: scroll;
}

.main .main-chat .container-chat .box-chat {
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 40%;
}

.main .main-chat .container-chat .box-chat.me {
    background-color: #d5f9ba;
}

.main .main-chat .container-chat .box-chat.you {
    background-color: #ffffff;
}

.main .main-chat .container-chat .box-chat p:first-child{
    font-size: 14px;
    padding-bottom: 6px;
}

.main .main-chat .container-chat .box-chat p:last-child{
    font-size: 9px;
    position: absolute;
    bottom: 0;
    right: 7px;
    color: #999;
}

.main .chat-input {
    height: 60px;
    width: 100%;
    background-color: #f3ede9;
}

.main .chat-input-left a i,
.main .chat-input-right a i {
    font-size: 25px;
    margin: 0 25px
}

.main .chat-input-middle {
    flex-grow: 1;
}

.main .chat-input-middle input {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    margin: 10px 0;
    background-color: #fff;
}

/* ----- /MAIN ----- */